#coding:utf-8
<%inherit file="../base.html" />
<%def name="head()">
<link href="${url_static_css}scout.css?v=${self.css_version}" rel="stylesheet" type="text/css" />
</%def>

	<%def name="tutorialtext()">
		<div class="back_black">
		<div class="tutorial_ms" style="padding:20px;10px;">
			有望な子発見!<br />
			スカウトしてみよう!
		</div>
	<img src="${url_static_img}00/id_00_01/bar_03.png" width="320px" height="12px" />
	</div>
	</%def>

<%def name="contents()">
	<div class="titlebar">
		<p class="caption">いい女発見</p>
	</div>
	
	<div class="cardname">
		<div class="type">
			<img src="${card['master']['iconUrl']}" width="28px" height="28px">
		</div>
		<span class="wrapper">
			${card['master']['name'] | h}
		</span>
	</div>
	
	<img src="${card['master']['thumbnail']['large']}" width="320px" height="400px" />
	
	<div>
		<a class="btn_big_text" href="${get_html_param('url_exec', 'sp/scout/cardgetresult_success.html')}"><div style="width:232; height:49;">(成功率??%)</div></a>
	</div>
	
	%if item_list:
		%for item in item_list:
			<div class="itembox">
				% if index > 0:
					<!-- ↓のラインは最下段には不要-->
					<img src="${url_static_img}common/kyoutsu_bar_06.png" width="320" height="5" style="position:relative; right:10px;" />
				% endif
				<table style="310px;">
					<td>
						<img src="${item['master']['thumbUrl']}" width="60" height="60" class="itemimg" style="margin-top:8px;"/>
					</td>
					<td class="itemtext" style="margin-top:8px;">
						${item['master']['name'] | h}<br />
						${item['master']['text'] | h}<br />
						<span class="orange">所持数:</span>
						<span class="yellow">${item['num']}</span>${item['master']['unit'] | h}<br />
					</td>
				</table>
				
				<div>
					<a class="button" href="${get_html_param('url_use', 'sp/item/useyesno.html', item)}"><div>使用する</div></a>
				</div>
			</div>
		%endfor
	%elif not is_tutorial:
		<div class="itembox wrapper red">
			使用出来るアイテムがありません
		</div>
	%endif

</%def>