#coding:utf-8
<%inherit file="../scoutevent/manual.html" />

<%def name="drawManualText()">
	<div style="padding-top:10px;">
		<div>	
			<div class="help_slide">
				<input type="submit" value="吉川あいみをプロデュースとは" class="help_btn"/>	
			</div>
				<div style="display: none; width:290px; margin:auto; line-height:1.4; margin-left:20px;">
					<br />
					期間中イベント限定エリアが開放されます。そのエリアでのスカウトを進めることでハートを入手することができます。<br />
					<br />
					エリアの最後では太客への接客が行われ、その接客に成功することで、次のエリアの開放と報酬を手に入れることができます。<br />
					また、限定エリアのスカウト中は通常のスカウトと同じように、キャストを獲得したり超太客の来店などが発生します。<br />
					<br />
					限定エリアは16あり、イベント期間中に新たに4のエリアが追加されます。<br />
					開放されているエリアを全てクリアしたあとは、最上位のスカウトが繰り返し実行できます。<br />
					過去のスカウトに戻って遊ぶことはできません。<br />
					<br />
				</div>
		</div>
		
		<div>
			<div class="help_slide">
				<input type="submit" value="名刺の効果について" class="help_btn"/>	
			</div>
				<div style="display: none; width:290px; margin:auto; line-height:1.4; margin-left:20px;">
					<br />
					イベントエリアのスカウトでは限定キャストが獲得できます。<br />
					そのままスカウトする事も可能ですが、名刺を使用する事でスカウトの成功率を高める事ができます。<br />
					<br />
					名刺には「普通名刺」と「上質名刺」の2種類があり、普通名刺は5%、上質名刺は10%、それぞれスカウトの成功率を上昇させることができます。<br />
					<br />
					また、名刺は複数枚を同時に使用する事ができ、さらに成功率を高める事ができます。<br />
					名刺はイベントエリアのスカウト中に発生する超太客から手に入れる事ができます。<br />
					<br />
					※通常エリアのスカウトから出現する超太客からは手に入りません。<br />
					<br />
			</div>
		</div>
		
		<div>
			<div class="help_slide">
				<input type="submit" value="ハートについて" class="help_btn"/>	
			</div>
				<div style="display: none; width:290px; margin:auto; line-height:1.4; margin-left:20px;">
					<br />
					限定エリアのスカウトを進めることでハートを入手することができます。<br />
					ハートの獲得数に応じて様々な報酬を手に入れることができます。<br />
					また、イベント終了時の獲得数でランキングを発表し、上位入賞者にはランキング報酬が配布されます。<br />
					<br />
					ランキング報酬目指してより多くのハート入手を目指しましょう。<br />
					<br />
					入手したハートはキャストのプロデュースに使用できます。<br />
					イベントトップページから「ハートをプレゼントする」をお選びいただき、ハートをプレゼントしてください。<br />
					<br />
					ランキング報酬にカウントされるハートの数は「これまでに入手したハート数」ですので、使用して減るわけではありません。<br />
					<br />
			</div>
		</div>
		
		<div>
			<div class="help_slide">
				<input type="submit" value="仲間のイベント参加によるボーナスについて" class="help_btn"/>	
			</div>
			<div style="display: none; width:290px; margin:auto; line-height:1.4; margin-left:20px;">
				<br />
				自分の仲間が毎日1度でもイベントスカウトを行っていると、スカウトで獲得できるハートにボーナスが付きます。<br />
				イベントに参加している仲間が多いほどハートにボーナス付きます。<br />
				仲間の為にもイベントへ参加し、報酬獲得を目指しましょう。<br />
				<br />
			</div>
		</div>
		
		<div>	
			<div class="help_slide">
				<input type="submit" value="フィーバーについて" class="help_btn"/>	
			</div>
				<div style="display: none; width:290px; margin:auto; line-height:1.4; margin-left:20px;">
					<br />
					スカウトを進めているとフィーバーモードに入ることがあります。<br />
					フィーバー中は獲得できるハートにボーナスがつきます。<br />
					フィーバーの制限時間は10分間です。<br />
					<br />
			</div>
		</div>
		
		<div>	
			<div class="help_slide">
				<input type="submit" value="スカウトガムについて" class="help_btn"/>	
			</div>
				<div style="display: none; width:290px; margin:auto; line-height:1.4; margin-left:20px;">
					<br />
					イベント期間中ショップにて販売されています。<br />
					使用する事でフィーバーを発生させる事ができます。<br />
					フィーバーの制限時間は10分間です。<br />
					<hr />
					<hr />
					<font color="#ff0000">注意</font><br />
					スカウトガムは次回イベントに持ち越す事はできません。<br />
					イベント終了後余ったガムは全て、ガム1つにつき赤ハブドリンク【大】1個に変換されます。<br />
					<br />
			</div>
		</div>
		
		<div>
			<div class="help_slide">
				<input type="submit" value="特効キャストの効果について" class="help_btn"/>	
			</div>
				<div style="display: none; width:290px; margin:auto; line-height:1.4; margin-left:20px;">
					<br />
					期間中、特定の特効キャストを出勤キャストに入れることで、スカウト中に手に入るハートに、レア度やハメ管理度に合わせたボーナスがつきます。<br />
					※同名の特効キャストの効果は重複しません。<br />
					特効キャストの詳細はイベントページ内の「特効キャスト」をご確認ください。<br />
					<br />
			</div>
		</div>
		<div>
			<div class="help_slide">
				<input type="submit" value="新店舗ランキングについて" class="help_btn"/>	
			</div>
			<div style="display: none; width:290px; margin:auto; line-height:1.4; margin-left:20px;">
				<br>
				各イベント開始日時より30日以前にゲームを開始されたユーザーのみ参加できるランキングです。<br>
				新店舗ランキング報酬はイベント自体のランキング報酬とは別途で獲得する事ができます。<br>
				また、イベント開催時にランキング対象となった後、イベント開催期間中に「ゲーム開始から30日」を超過した場合におきましても、イベント期間内はランキングが継続されます。
				<br>
			</div>
		</div>
	</div>
</%def>
