#coding:utf-8
<%inherit file="scoutresultbase.html" />

<%def name="contents()">
	<div class="back_black">
		${self.scouttop()}
		${self.topcap()}
		${self.feverinfo()}
		${self.resulttop()}
		
		<div class="wrapper" style="margin: 8px 0px;">
			${scoutevent['gachaptname'] | h}を<span class="yellow">${point_add}</span>個獲得！<br />
			所持数：${eventscore['point_gacha'] - point_add}⇒<span class="yellow">${eventscore['point_gacha']}</span>個
		</div>
		
		<img src="${url_static_img}common/kyoutsu_bar_06.png" width="320" height="2" style="margin-bottom:4px;"/>
		
		${self.drawScoutResultInfo(line=False)}
		
		<div class="btn_ontext">
			%if url_next:
				<a href="javascript:void(0);" onclick="onClickScoutExecButton('${get_html_param('url_next', 'sp/scout/scoutdo_swf.html')}');"><img src="${url_static_img}01/btn_sc_yoko.png" style="width:232px;height:49px;"/></a>
			%else:
				<a href="javascript:void(0);" onclick="onClickScoutExecButton('${get_html_param('url_scoutdo', 'sp/scout/scoutdo_swf.html')}');"><img src="${url_static_img}01/btn_sc_yoko.png" style="width:232px;height:49px;"/></a>
			%endif
		</div>
		
		<img src="${url_static_img}common/kyoutsu_bar_05.png" width="320" height="2" style="margin-bottom:4px;"/>
		
		${self.scoregetinfo(line=False)}
		
		${self.playerstatus()}
	</div>

	% if player['level'] < Defines.BIGINNER_PLAYERLEVEL:
		<div class="topcap">
			Lv10まで体力消費せず進めます
		</div>
	% endif

	<div class="areastatus">
		<span class="wrapper">${scout['name'] | h}</span>
		<table class="areabox">
			<tr>
				<td class="areaset1" style="width:60px;">
					達成度
				</td>
				<td class="areaset1" style="width:40px;">
					${scout['percent']}%
				</td>
				<td class="areaset1" style="width:184px; margin-left:-10px;">
					<div class="st_frame_big">
						<div class="st_gauge04" style="width:${int(scout['percent'] * 155 / 100)}px"><%doc>バーは仮</%doc></div>
					</div>
				</td>
			</tr>
		</table>
		
		<table class="areabox2">
			<tr>
				<td class="areaset1">
					体力
				</td>
				<td class="areaset2"  style="color:#FF0000;">
					-${scout['apcost']}
				</td>
			</tr>
			<tr>
				<td class="areaset1">
					経験値
				</td>
				<td class="areaset2">
					${scout['exp']}
				</td>
			</tr>
			<tr>
				<td class="areaset1">
					CG
				</td>
				<td class="areaset2">
					＋${scout['goldmin']}〜${scout['goldmax']}
				</td>
			</tr>
		</table>
		
		<table>
			% for index, dropitem in enumerate(scout['dropitems']):
				<tr class="area_deck" style="top:120px;left:${index * 54 + 10}px;">
					<td> 
						<img src="${url_static_img}01/scout_frame_photo.png"width="52px" height="52px"/><!--キャバ嬢写真の枠のみ-->
					</td>
					<td class="deck_photo">
						% if dropitem['drop']:
							<img src="${dropitem['thumbUrl']}"width="50px" height="50px"/><!--キャバ嬢の写真-->
						% else:
							<img src="${url_static_img}00/id_00_02/side_no_data.png"width="50px" height="50px"/>
						% endif
					</td>
				</tr>
			% endfor
		</table>
	</div>
	<div class="link_arrow_re">
		<a class="btnfoot" href="${get_html_param('url_scoutevent_top', 'sp/scoutevent/top.html')}" ><div style="margin-left:14px;">イベントTOPへ</div></a>
	</div>
</%def>

<%def name="stagebustup()">
	<div id="gachaptimg" style="position:absolute; z-index: 2; top: 64px; left: 130px;">
		<img src="${scoutevent['gachaptimg']}" width="60" height="60" />
	</div>
	<script>
		$(function(){
			var FPS = 30;
			var TIME_INTERVAL = 1000 / FPS;
			var DEPTH = 4;
			var target = document.getElementById("gachaptimg");
			var top_ori = parseInt($("#gachaptimg").css("top").replace("px", ""), 10);
			var frame_cnt = 0;
			
			function execImg(){
				var rad = frame_cnt * 2 * Math.PI / FPS
				var y = top_ori + DEPTH * Math.sin(rad);
				$(target).css("top", parseInt(y));
				frame_cnt = (frame_cnt + 1) % FPS;
				setTimeout(execImg, TIME_INTERVAL);
			}
			setTimeout(execImg, TIME_INTERVAL);
			
			$("#gachaptimg")
		});
	</script>
</%def>
