#coding:utf-8

<style type="text/css">


.menu_box{
	width: 320px;
}
			
.menu_subbox{
	width: 308px;
	height: auto;
	margin:auto;
	margin-top: 10px;
	text-align:center;
}

.menu_sub2 {
	background: url(${url_static_img}common/btn_97_off.png) no-repeat;
	background-position : 0px;
	width : 97px;
	height : 28px;
	text-align:center;
	margin: auto;
}

.menu_sub2 a{
	display:block;
	padding-top:4px;
	font-size:12px;
	color:#fff;
	text-decoration:none
}


.menu_end {
	background: url(${url_static_img}common/btn_97_off.png) no-repeat;
	width : 97px;
	height : 28px;
	text-align:center;
	margin: auto;
}

.menu_end a{
	display:block;
	padding-top:4px;
	font-size:12px;
	color:#fff;
	text-decoration:none
}

</style>