#coding:utf-8
<%inherit file="base.html" />


<%def name="contents()">
	<div class="titlebar">
		<p class="caption">フレンドの近況</p>
	</div>
	<img src="${url_static_img}common/kyoutsu_bar_06.png" width="320" height="5"/>
	%if friendlog_list:
		% for friendlog in friendlog_list:
			<div class="noflame">
				<%include file="includes/inc_friendlog.html" args="friendlog=friendlog, Defines=Defines" />
			</div>
			<img src="${url_static_img}common/kyoutsu_bar_06.png" width="320" height="5" />
		% endfor
	%else:
		<div class="list_not_found">
			見つかりませんでした
		</div>
	%endif
	
	<table align="center" width="320" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px;">
		<tr>
			<td width="160px" style="text-align: left;">
				% if url_prev is not UNDEFINED:
					<a href="${url_prev}"><img src="${url_static_img}common/btn_back.png" width="68" height="21" alt="前へ"/></a>
				%else:
					<div style="font-size: 0px opacity:0;">　</div>
				%endif
			</td>
			<td>
				<div class="count" style="font-size:12px; white-space: nowrap;">&#40;${cur_page}/${page_max}&#41;</div>
			</td>
			<td width="160px" style="text-align: right;">
				% if url_next is not UNDEFINED:
					<a href="${url_next}"><img src="${url_static_img}common/btn_next.png" width="68" height="21" alt="次へ"/></a>
				%else:
					<div style="font-size: 0px opacity:0;">　</div>
				%endif
			</td>
		</tr>
	</table>
	<div class="link_arrow_re">
		<a class="btnfoot" href="${get_html_param('url_mypage', 'sp/mypage.html')}"><div style="margin-left:14px;">マイページへ戻る</div></a>
	</div>
</%def>