#coding:utf-8
<%inherit file="base.html" />

<%def name="session_script()">
	<script type="text/javascript">
		if($("#body_main").css("display") == "none"){
			$("#body_main").css("display", "");
		}
	</script>
</%def>

<%def name="header()">
</%def>


<%def name="contents()">
	<div class="titlebar">
		<p class="caption">非対応です</p>
	</div>
	<div style="margin:10px 1em 0px 1em;">
		ご利用の端末は本作品非対応機種となっております。<br />
		◆対応端末<br />
		・Android2.3以降<br />
		・iOS4以降(iPhoneのみ)
	</div>
	<div>
		<a class="btnpinkbig" href="http://www.dmm.co.jp" target="_top"><p class="caption">DMMトップへ</p></a>
	</div>
</%def>


<%def name="footer()">
</%def>
