#coding:utf-8
<%inherit file="base.html" />
<%def name="contents()">
	<div class="titlebar">
		<p style="font-size:15px; line-height:2.6;">不正ユーザーへの処置につきまして</p>
	</div>
	
	<section class="basicinfo">
		<div class="basictop">
			<div class="topcap" style="font-size:13px;">
				｢キャバ王~キャストは全員AV女優~｣を<br />
				ご利用頂いている皆様へ重要なお知らせ<br />
			</div>
		</div>
		<div class="basicBack" style="font-size:13px;">
			<ul>
				<li>
					<img src="${url_static_img}common/kyoutsu_bar_07.png" width="282" height="3" style="margin-bottom:4px;" />
					キャバ王~キャストは全員AV女優~をご利用いただき､誠にありがとうございます｡<br />
					当サービスでは､下記項目への違反が確認されたアカウントに対して､アカウントの<span class="red">無期限停止</span>を実施しております｡<br />
					当サービスではアカウント停止措置を実施する際に<span class="red">警告</span>や<span class="red">個別の告知</span>を行いません｡<br />
					何卒ご了承ください｡<br />
					<br />
					<div style="padding: 8 0 8 0;">
						<img src="${url_static_img}common/kyoutsu_bar_06.png" width="282" height="3" />
						<div style="padding: 8 0 8 0;">
							<div class="orange" style="text-align:center;padding-bottom:8;">
								▼▼▼不正行為▼▼▼
							</div>
							・<span class="red">不正プログラム</span>の使用<br />
							・<span class="red">悪意のある不正アクセス</span><br />
							・<span class="red">悪意のある</span>短時間での集中アクセス<br />
							・不具合を利用したゲーム内データの<span class="red">改変や増殖</span><br />
							・コミュニティや外部掲示板等で<span class="red">不正を誘発する行為</span><br />
							・DMMオンラインゲームの利用規約に<span class="red">違反する行為</span><br />
							・当サービスに対する悪質な<span class="red">妨害行為</span><br />
							・他のユーザーを<span class="red">故意に傷つける行為</span><br />
						</div>
						<img src="${url_static_img}common/kyoutsu_bar_06.png" width="282" height="3" />
					</div>
					その他お客様間のトラブルや、運営からの注意勧告に従わなかったことにより生じる一切の問題について、運営では責任を負いかねます。<br />
					<br />
					<div class="orange">
						※当該禁止行為に関しまして個別の質問には回答できかねますので、あらかじめご了承ください。
					</div>
				</li>
			</ul>
			<div style="font-size:0px;">
				 &nbsp; 
			</div>
		</div>
		<div class="basicbtm">
		</div>	
	</section>
	
	<div class="link_arrow_re">
		<a class="btnfoot" href="${get_html_param('url_top', 'sp/top/top.html')}" ><div style="margin-left:14px;">TOPページへ</div></a>
	</div>
</%def>