#coding:utf-8
<%inherit file="gacha.html" />

<%def name="drawGachaList()">
	%for gacha in gachadata.values():
		%if gacha['consumetype'] == Defines.GachaConsumeType.ONE_TWO_THREE and gacha['tabengname'] == current_tab:
			${self.drawOneTwoThreePage(gacha['unique_name'])}
		%endif
	%endfor
</%def>

<%def name="drawPremiumTabs()">
	${self.drawPremiumTabSub(Defines.GachaConsumeType.ONE_TWO_THREE)}
</%def>

<%def name="drawOneTwoThreePage(unique_name)">
	
	${self.drawSchedule(unique_name)}
	
	<%doc>縦幅大きいバナー</%doc>
	${self.drawBoxBanner(unique_name)}
	${self.drawHeader(unique_name)}
	${self.drawSlide(unique_name)}
	${self.reaSetsumei()}
	${self.drawOneTwoThreeInfo(unique_name)}
	
	<div class="titlebar">
		<p>１,２,３ガチャとは？</p>
	</div>
	${self.drawStepupImage(unique_name)}
	
	<div align="center" style="width:310px; height:30px; margin:4 6 4 6px; font-size:14;">
		&nbsp;<a href="${get_html_param('url_supcard', 'sp/gacha/supcard.html', gachadata[unique_name])}" class="orange">獲得可能キャスト一覧</a>&nbsp;
	</div>
	
	<%doc>レアキャスト雇用速報</%doc>
	${self.drawCastGetListByUniqueName(unique_name)}
	
	${self.drawOneTwoThreeInfo(unique_name)}
</%def>

<%def name="drawFooterText()">
	<section class="basicinfo" style="padding-bottom:10px;">
		<div class="basictop">
			<p>注意</p>
			<img src="${url_static_img}common/kyoutsu_bar_07.png" width="282" height="3" />
		</div>
		
		<div class="basicBack">
			<ul>
				<li>
					${self.drawExplainText123()}
				</li>
			</ul>
			<div style="font-size:0px;">
				&nbsp;
			</div>
		</div>
		<div class="basicbtm">&nbsp;
		</div>
	</section>
</%def>

<%def name="setCurrentTopic()">
	<script type="text/javascript">
		topics(1); //タブボックス用の関数の呼び出し
	</script>
</%def>
