#coding:utf-8
<%inherit file="../base.html" />
<%def name="head()">
<script type="text/javascript" src="${url_static_js}btn_tab.js"></script>
</%def>

<%def name="contents()">
	
	<div class="confirm" style="margin-top:20px";>
		${cardmaster['name'] | h}を${cardnum}人呼び戻しました。
	</div>
	
	<div>
		<a class="btnlong" style="margin-bottom:30px;" href="${get_html_param('url_cardbox', 'sp/card/cardbox.html')}"><div>キャスト一覧へ</div></a>
	</div>
	
	<div class="link_arrow_re">
		<a class="btnfoot" href="${get_html_param('url_albumdetail', 'sp/album/detail.html')}"><span style="margin-left:14px;">キャスト名鑑へ戻る</span></a>
	</div>
</%def>
