#coding:utf-8
<%inherit file="../base.html" />

<%def name="contents()">

<div class="back_black">
	<div class="titlebar">
		<p class="caption">超太客接客失敗</p>
	</div>
	
	<div class="wrapper">
		%if cancel:
			超太客の接客を諦めました。
		%else:
			残り時間以内に超太客を<br />
			もてなすことができなかったので<br />
			報酬を獲得できませんでした。
		%endif
	</div>
	
	% if prize:
		<div class="titlesub" style="margin:12 auto 12px auto;">
			<div class="topcap">
				これまでにGETしたもの
			</div>
		</div>
		
		<img src="${url_static_img}common/kyoutsu_bar_06.png" width="320" height="5" />
		
		<%include file="../includes/prize_info.html" args="prize=prize, url_static_img=url_static_img" />
	%endif
	
	%if scoutevent:
		<div>
			<a class="btnlong" style="margin-top:8px;" href="${get_html_param('url_scoutevent_scouttop', 'sp/scoutevent/scevent04/scout.html')}"><div>イベントスカウトに戻る</div></a>
		</div>
	%endif
	<div>
		<a class="btnlong" style="margin-top:8px;" href="${get_html_param('url_scout', 'sp/scout/scout.html')}"><div>スカウトに戻る</div></a>
	</div>
	
	<div style="padding-bottom:2px;">
	</div>

</div>

</%def>