#coding:utf-8
<%inherit file="../base.html" />

<%def name="contents()">
	<div class="titlebar">
		<p class="caption">秘宝アイテム交換</p>
	</div>
	
	<div class="wrapper">
		${raidevent['pointname'] | h}を${raidevent['ticketname'] | h}と交換しますか?
	</div>
	
	<div class="icon_l">
		<img src="${raidevent['ticketThumbnail']['middle']}" width="90" height="90" />
	</div>
	
	<div class="wrapper">
		${raidevent['pointname'] | h}消費量&nbsp; :&nbsp; ${raidevent['pointratio']}
	</div>
	
	<div>
		% if raideventscore['point'] < raidevent['pointratio']:
			<div class="caution">
				${raidevent['pointname']}が${raidevent['pointratio'] - raideventscore['point']}個足りません
			</div>
		%else:
			<a class="btnpink" href="${get_html_param('url_tradedo', 'sp/trade/tradecomplete.html')}"><p class="caption">交換する</p></a>
		%endif
	</div>
	
	<div>
		<a class="btnlong" style="margin-top:10px;" href="${get_html_param('url_trade', 'sp/trade/trade.html')}"><div>秘宝アイテム交換TOPへ</div></a>
	</div>
</%def>