#coding:utf-8
<%inherit file="../sp/base.html" />

<%def name="head()">
	<script>
		function postCookieRequest(){
			dmm.api.setCookie({
				url : "${url_exec}",
				callback_url: "${url_callback}"
			});
		}
	</script>
</%def>
<%def name="header()"></%def>
<%def name="footer()"></%def>

<%def name="contents()">
	<div>
		<div class="titlebar">
			<p>Cookie設定のテスト</p>
		</div>
		<div class="btnlong" style="margin-top:4px;margin-bottom:8px;">
			<a onclick="postCookieRequest();">Cookie設定Api呼び出し</a>
		</div>
		<div>
			<div>
				現在のCookie<br />
			<div>
			%for k,v in cookies.items():
				${k | h}:${v | h}<br />
			%endfor
		</div>
	</div>
</%def>
