#coding:utf-8
<%inherit file="../base.html" />
<%namespace name="listcard" file="../includes/listcard.html" />

<%def name="head()">
  %if not is_pc:
    <script type="text/javascript" src="${url_static_js}jquery-1.10.1.min.js"></script>
  %endif
</%def>

<%def name="tutorialtext()">
  <div class="back_black">
    <div class="tutorial_ms">
      ハメ管理には同じ名前のキャストが必要だ<br />
      同じキャストを3枚プレゼントするので<br />
      ハメ管理をしてみよう。<br />
      まずはハメ管理を行うキャストを選択してくれ<br />
    </div>
    <img src="${url_static_img}00/id_00_01/bar_03.png" width="320px" height="12px" />
  </div>
</%def>

<%def name="call_pagenation()">
  ${listcard.pagenation(url_page_prev=url_page_prev, url_page_next=url_page_next, cur_page=cur_page, page_max=page_max)}
</%def>

<%def name="contents()">
  <div class="titlebar">
    <p class="caption">ハメ管理</p>
  </div>
  <table style="font-size:14; width:320;" align="center">
      <tr>
        <td>
          <span class="orange" style="text-align:right;">${gold_name | h}:</span>
        </td>
        <td>
        <span style="text-align:left;">${player['gold']}</span>
        </td>
        <td>
          <span class="orange" style="text-align:right;">キャスト:</span>
        </td>
        <td>
        <span style="text-align:left; margin:0;">${cardnum}人</span>
        </td>
      </tr>
    </table>
  <div class="back_black">
    <img src="${url_static_img}common/kyoutsu_bar_06.png" width="320px" height="5px" />    
      <div class="wrapper" style="margin-bottom:-8px;">
        ハメ管理を行うキャストを選択
      </div>
      <img src="${url_static_img}00/id_00_01/bar_03.png" width="320" height="12" style="margin-top:8px;" />
    %if not is_tutorial:
      <%include file="../includes/select_card.html" args="Defines=Defines, url_post=url_self, ctype=ctype, sortby=sortby" />
    %endif
    <img src="${url_static_img}common/kyoutsu_bar_06.png" width="320px" height="5px" />
  </div>
  %if is_tutorial:
    <%
      clickable = True
    %>
    %for card in cardlist:
      <%include file="../includes/listcard.html" args="card=card, url_static_img=url_static_img, card_select_type='evbaseselect', get_html_param=get_html_param, clickable=clickable, test_skill=True, is_tutorial=is_tutorial, Defines=Defines"/>
      <%
        clickable = False
      %>
    %endfor
  %else:
    %if cardlist:
      ${self.call_pagenation()}
      %for card in cardlist:
        <%include file="../includes/listcard.html" args="card=card, url_static_img=url_static_img, card_select_type='evbaseselect', get_html_param=get_html_param, test_skill=True, is_tutorial=is_tutorial, Defines=Defines"/>
      %endfor
      ${self.call_pagenation()}
    %else:
      <div class="list_not_found">
        ハメ管理可能なキャストがいません
      </div>
    %endif
  %endif
</%def>
